body {
	text-align: center;
	background-color: #fff;
	background-image: linear-gradient(-135deg, #4E5166, #111111);
}
h1 {
	font-family: 'Instrument Serif', 'Garamond', serif;
	color: #D9F0FF;
	text-shadow: 1.8pt 2.1pt 10px rgba(0, 0, 0, 0.6);
}
.content-wrapper {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 500px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
	min-height: 60px;
	text-align: center;
}
.footer p, a {
	font-family: 'Instrument Serif', 'Garamond', serif;
	color: RGBA(255, 255, 255, .6);
	text-decoration: none;
}